@CHARSET "UTF-8";

html,body,div,h1,h2,h3,h4,h5,h6,p,img,dl,dt,dd,ol,ul,li,page,table,tr,td,form,footer,header,nav,select,input,em,textarea
	{
	margin: 0;
	padding: 0;
	border: 0;
}

body,input,button,select,textarea,table {
	font: 12px/1.5 'Microsoft Yahei', Tahoma, 'Simsun';
}

a {
	color: #15c;
	text-decoration: none;
}

a: hover {
	text-decoration: underline;
}

ul {
	list-style: none;
}

.hide {
	display: none;
}

.wrapper {
	width: 990px;
	height: 100%;
	margin: 0 auto;
}

.header-bar {
	height: 70px;
	width: 990px;
	border-bottom: 1px solid #e5e5e5;
	overflow: hidden;
}

.header .logo {
	margin: 6px 0 0 -3px;
	float: left;
}

.header .login {
	float: right;
	margin: 5px 0px 0px 0px;
}
.header .login input {
	line-height: 18px;
	padding: 2px 5px;
	border: 1px solid;
	border-color: green;
	border-radius: 3px;
}

.header .login tr {
	height: 30px;
}

.header .login td {
	padding: 0px 10px 0px 0px;
}

.header .login .sbt {
	font-weight: bold;
	width: 50px;
}

.header .login span {
	padding: 0px 0px 0px 20px;
}

.header .login a {
	font-size: 12px;
}
.header .weibo_login,.tencent_login {
	float: right;
	margin: 10px 15px 0px 0px;
}

.menber_info {
	float: right;
	margin: 0px 5px 0px 0px;
}

.menber_info span {
	color: #FFF;
	height: 24px;
	line-height: 34px;
	padding: 0px 5px;
}

.menber_info span a {
	color: #FFF;
}

.nav {
	height: 32px;
	width: 990px;
	background-color: #2B7ACD;
	border-bottom: 1px solid #e5e5e5;
}

.nav li {
	float: left;
	height: 32px;
	line-height: 32px;
	font-weight: 700;
	font-size: 14px;
	background: url(../../../images/nav_a.png) no-repeat 100% 0;
}

.nav li.a {
	background: #005AB4 url("../../../images/nav_a.png") no-repeat 50% -33px;
}

.nav li a {
	padding: 0 15px;
	height: 33px;
	color: #FFF;
}
.nav li a img{
	padding-top: 5px;

}

.main {
	padding-bottom: 35px;
	position: relative;
	border-radius: 10px;
}

.content {
	width: 990px;
}

.main_left {
	float: left;
	width: 133px;
	min-height: 400px;
	margin-top: 10px;
	padding: 10px;
	background: #e5e5e5;
	border: 1px solid #d5d5d5;
	border-radius: 10px;
}
.main_left h1 {
	color: green;
	font-weight: 700;
	font-size: 22px;
	text-align: center;
}
.main_left ul li a {
	padding-left: 10px;
	line-height: 22px;
	overflow: hidden;
}

.menu {
	margin-left: 10px;
}

.main_left li.menu_selected a {
	color: red;
	padding-left: 20px;
}

.main_right {
	float: left;
	width: 795px;
	padding-top: 10px;
	margin-left: 10px;
}

.main_right .right_nav li,.r_n_n {
	float: left;
	padding-left: 15px;
}

.r_n_n {
	background: url(../../../images/nav_r.png) no-repeat left top;
}

.right_nav {
	float: left;
	width: 840px;
	height: 20px;
	margin-left: -15px;
	padding-bottom: 10px;
}

.right_content {
	float: left;
}

.search_text, .search_submit {
	float: right;
}
.input_num {
	width: 110px;
	border: 1px solid #d3d6db;
	border-radius: 3px;
	padding: 4px;
	color: gray;
	margin-right: 6px;
	height: 16px;
	line-height: 12px;
}
.input_text {
	width: 110px;
	border: 1px solid #d3d6db;
	border-radius: 3px;
	padding: 4px;
	color: gray;
	margin-right: 6px;
	height: 12px;
	line-height: 12px;
}
.input_submit {
	border: 1px solid #d3d6db;
	border-radius: 3px;
	padding: 4px;
	color: red;
	margin-right: 6px;
	height: 22px;
	line-height: 12px;
}
.text_page {
	float: left;
	width: 800px;
	height: auto;
	padding: 12px 3px 12px 20px;
	background: #e5e5e5;
	border: 1px solid #d5d5d5;
	border-radius: 10px;
	margin-bottom: 10px;
}

.list {
	float: left;
	display: block;
	width: 100px;
	color: blue;
	line-height: 22px;
	overflow: hidden;
	white-space: nowrap;
}

.text_page span.list_selected a {
	color: red;
	font-weight: 700;
}

.text_content_a {
	float: left;
	width: 825px;
	min-height: 365px;
}

.text_content {
	float: left;
	width: 520px;
	min-height: 365px;
	padding: 12px 3px 12px 20px;
	margin: 0px 5px 55px 0px;
	background: #e5e5e5;
	border: 1px solid #d5d5d5;
	border-radius: 10px;
}
.text_content h1 {
	color: green;
	font-weight: 700;
	font-size: 18px;
	margin: 0px 0px 0px 140px;
}
.text_content p {
	color: blue;
	padding: 5px;
;
}
.text_content h2 {
	color: #b066b0;
	width: 400px;
	padding: 5px;
	font-size: 13px;
}
.text_content li {
	padding: 0px 0px 0px 5px;

}
.text_content table tr td {
	overflow: hidden;
}

.text_content span {
	float: left;
	width: 148px;
	height: 280px;
	margin: 5px 5px;
	overflow: hidden;
}

.isgx {
	width: 148px;
	height: 208px;
	position: relative;
	margin: 0px auto;
}
.save_info {
	width: 758px;
	height: 25px;
	margin: 5px 0px 10px 5px;
	padding-left: 20px;
	line-height: 28px;
	background-color: #fcf8e3;
	border: 1px solid #fbeed5;
	border-radius: 4px;
}
.delete_bar {
	float:right;
    margin-right:30px;
}
.text_content_s {
	float: left;
	width: 253px;
	min-height: 450px;
	padding: 10px 5px 5px 10px;
	margin: 0px 0px 55px 5px;
	background: #e5e5e5;
	border: 1px solid #d5d5d5;
	border-radius: 10px;
}

.achievement {
	width: 450px;
	height: 225px;
}

.ach_img {
	float: left;
	width: 46px;
	height: 46px;
	margin: 25px 15px 5px 10px;
}

.ach_text {
	width: 59px;
	height: 15px;
	margin: 0 0 0 62px;
}

.ach_title {
	float: left;
	width: 18px;
	height: 150px;
	margin: 15px 10px 10px 30px;
}

.ach_name {
	float: left;
	width: 120px;
	height: 25px;
	color: green;
	font-weight: 700;
	font-size: 18px;
	margin: 0px 10px 0px 0px;
}

.ach_id {
	float: left;
	margin: 5px 10px 10px 0px;
}

.ach_tips {
	float: left;
	width: 300px;
	height: 40px;
	margin: 0px 10px 5px 0px;
}

.ach_time {
	float: left;
	width: 200px;
	height: 20px;
	margin: 0px 0px 0px 70px;
}

.ach_point {
	float: left;
	width: 120px;
	height: 20px;
}

.ach_hme {
	float: left;
	margin: 5px 5px 5px 70px;
}

.score_tips_ach {
	float: left;
	width: 250px;
	margin: 5px 0px 0px 70px;
}

.ach_com {
	float: left;
	width: 300px;
	height: 50px;
	margin: 5px 0px 0px 70px;
}

.border {
	width: 460px;
	height: 230px;
}

.background,.avatar {
	width: 460px;
	height: 220px;
}

.a_img_1 {
	float: left;
	width: 148px;
	height: 208px;
	margin: 15px 0px 10px 10px;
}

.a_img_2,.a_img_3 {
	float: left;
	width: 103px;
	height: 169px;
	margin: 15px 15px 10px 25px;
}

.a_name {
	float: left;
	width: 120px;
	height: 25px;
	color: green;
	font-weight: 700;
	font-size: 18px;
	margin: 20px 10px 0px 25px;
	overflow: hidden;
}

.a_type {
	float: left;
	margin: 10px 10px 10px 25px;
}

.a_id {
	float: left;
	margin: 25px 10px 10px 30px;
}

.a_tips {
	float: left;
	width: 250px;
	height: 50px;
	margin: 10px 10px 5px 25px;
}

.score_tips {
	float: left;
	width: 270px;
	margin: 5px 0px 0px 25px;
}

.a_rare,.c_score,.s_score {
	float: left;
	margin: 5px 5px 5px 25px;
}

.a_shop,.c_shop {
	float: left;
	width: 460px;
	margin-top: 10px;
}

.character {
	width: 450px;
	height: 200px;
}

.c_avatar {
	float: left;
	margin: 15px 10px 10px 20px;
}

.c_name {
	float: left;
	height: 25px;
    max-width: 110px;
	color: green;
	font-weight: 700;
	font-size: 18px;
	margin: 10px 0px 0px 10px;
	overflow: hidden;
}

.c_id {
	float: left;
	margin: 15px 10px 10px 15px;
}

.c_tips {
	float: left;
	width: 300px;
	height: 50px;
	margin: 20px 10px 10px 10px;
}

.c_country {
	float: left;
	margin: 15px 10px 10px 5px;
}

.c_ex {
	float: left;
	margin: 15px 10px 10px 10px;
}

.c_level {
	float: left;
	margin: 10px 10px 10px 20px;
}

.skin {
	width: 495px;
	height: 230px;
}

.s_name {
	float: left;
	height: 25px;
	color: green;
	font-weight: 700;
	font-size: 18px;
	margin: 10px 0px 0px 25px;
}

.s_id {
	float: left;
	margin: 15px 10px 10px 25px;
}

.s_painter {
	float: left;
    width:230px;
	margin: 5px 10px 5px 25px;
}

.s_tips {
	float: left;
	width: 250px;
	height: 50px;
	margin: 5px 10px 5px 25px;
}

.s_img {
	float: left;
	width: 148px;
	height: 197px;
	margin: 15px 0px 10px 10px;
}

.skin_show {
	width: 413px;
	height: 535px;
	margin: -80px 0px 0px -400px;
	border: 6px solid #ebebeb;
	border-radius: 6px;
}

.sgxsyj {
	width: 148px;
	height: 280px;
	padding: 5px 45px;
}

.sgxsyj span {
	width: 148px;
	height: 25px;
	color: green;
	font-weight: 700;
	font-size: 18px;
	margin: 0px 15px;
	overflow: hidden;
	display:block
}

.compose {
	width: 148px;
	height: 208px;
	position: relative;
	margin: 10px 0px;
}

.cbk {
	position: absolute;
	left: 0px;
	top: 0px;
	width: 148px;
	height: 208px;
}

.cbj {
	position: absolute;
	left: 29px;
	top: 22px;
	width: 104px;
	height: 170px;
}

.cxx {
	position: absolute;
	left: 29px;
	top: 22px;
	width: 104px;
	height: 170px;
}

.sgx_info {
	width: 148px;
	height: 75px;
}

.sgx_info ul .title {
	color: blue;
	line-height: 20px;
	overflow: hidden;
}

.sgx_info ul li {
	line-height: 18px;
	overflow: hidden;
}

.sgx_submit {
	width: 280px;
	margin: 5px 0px 0px -50px;
}
.sgx_submit input {
    float:left;
	margin: 5px;
}

.save_result {
	width: 148px;
	margin: 5px auto;
	color: red;
	line-height: 18px;
	text-align: center;
}

.skin_sina_share {
    float:left;
	width: 84px;
	height: 16px;
	margin: 0px 0px 0px 25px;
}
.share_result {
    float:left;
	width: 150px;
	margin: 0px 0px 0px 20px;
	color: red;
	line-height: 18px;
}
.isgx_info {
	width: 148px;
	height: 70px;
}

.isgx_info p {
	color: blue;
	overflow: hidden;
	text-align: center;
    padding: 0px;
}
.isgx_sina_share {
	float:left;
    margin: 3px 5px 0px 30px;
}
.isgx_delete {
	float:left;
	line-height: 22px;
    margin: 0px 0px 0px 5px;
}
.isgx_share_result {
	width: 148px;
    float:left;
	color: red;
	line-height: 18px;
	text-align: center;
}

.button {
	padding: 3px 10px;
	background: #3FA156;
	border: 1px solid #528741;
	font-weight: bold;
	color: #fff;
	font-size: 14px;
	cursor: pointer;
	border-radius: 3px;
}

#main_left span {
	color: blue;
	padding-left: 10px;
	line-height: 25px;
	overflow: hidden;
	font-weight: 700;
	font-size: 14px;
}

.star  em {
	float: left;
	width: 16px;
	height: 16px;
	overflow: hidden;
	text-indent: -9999px;
}

.star {
	float: left;
	display: block;
	margin: 5px 0px 10px 0px;
	width: 150px;
	height: 16px;
	background: url(../../../images/starlevel.gif) no-repeat 10px 0;
	cursor: pointer;
}

.score_result {
	float: left;
	color: red;
	padding-left: 10px;
}

.bind{
    margin:50px auto;
    width:400px;
    height:auto;
}
.bind_menu{
    float:left;
    width:200px;
    background-color: #2B7ACD; 
    text-align:center;
}
.bind_menu a{
    line-height: 32px;
    font-weight: 700;
    font-size: 14px;
    color: #FFF;
    }
.bind_f{
    float:left;
  	width:396px;
    background-color: #e8e8e8; 
    border: 2px solid #2B7ACD;
    border-top: 0px solid #2B7ACD;
	padding-bottom:10px;
}  
.bind_f input {
	line-height: 18px;
	padding: 2px 5px;
    margin: 5px 20px;
	border: 1px solid;
	border-color: green;
	border-radius: 3px;
}
.bind_selected {
    background-color: #0055CC; 
}
.bind span {
	display: block;
    color: red;
	font-weight: 700;
	font-size: 12px;
	margin: 15px 0px 5px 20px;
	overflow: hidden;
}
.t_level {
	width:500px;
	margin:10px 0px 10px 60px;
}
.level_start, .level_end, .civil_start, .civil_end, .guild_start, .guild_end {
	width: 40px;
}
.level_submit .civil_submit .guild_submit {
	width:50px;
}
.t_level_result, .t_civil_result, .t_guild_result {
	width:500px;
	margin:10px 0px 10px 60px;
	color:#90f;
	height: 20px;
	line-height: 12px;
}

.footer-bar {
	position: fixed;
	bottom: 0;
	background: white;
	height: 35px;
	width: 990px;
	border-top: 1px solid #ebebeb;
	overflow: hidden;
}
.footer {
	padding-top: 9px;
}
.footer li {
	float: left;
	padding: 0 1.5em 0 0;
}
.message_box {
	border: 3px solid #2B7ACD;
	background: #e5e5e5;
	margin: 0px auto;
	margin-top: 60px;
	padding: 20px;
	width: 580px;
}
.message_text {
	padding: 6px 0 6px 58px;
	min-height: 40px;
	height: auto !important;
	height: 40px;
	line-height: 160%;
	font-size: 14px;
}
.box {
	border: 1px solid #ccc;
	margin-bottom: 25px;
	padding: 6px;
	box-shadow: 0px 2px 3px 3px rgba(0, 0, 0, 0.2);
}
.clearfix: after {
	visibility: hidden;
	display: block;
	font-size: 0;
	content: '.';
	clear: both;
	height: 0;
}
.loading {
	background: #fff;
	position: fixed;
	top: 50%;
	right: 50%;
	padding: 20px 50px;
	border: 1px solid #dedede;
	border-radius: 5px;
	line-height: 20px;
	height: 20px;
	width: 70px;
	font-size: 12px;
	cursor: default;
	margin: -30px -85px;
	text-align: center;
	box-shadow: #9c9c9c 0 0 100px;
	animation: showfwin .3s;
	z-index: 999;
}
.mod_pop_mask {
	position: fixed;
	_position: absolute;
	left: 0;
	top: 0;
	z-index: 998;
	width: 100%;
	height: 100%;
	background-color: #000;
	opacity: 0.5;
	filter: alpha(opacity = 50);
}

.today a {
	color:#ff9900;
}
.yesterday a {
	color:#ff6600;
}
.new a {
	color:#ff3300;
}